#actTitle {
  max-width: 40rem;
  margin: auto;
}

.act {
  text-align: center;
  font-family: initial;
  color: #0A1172;
  padding: 10px;
  margin: 0px;
}

.links {
  text-align: center;
}

#main {
  max-width: 500rem;
}

.card-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #0A1172;
}

h3,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #0A1172;
}

strong {
  color: #0A1172;
}

p {
  font-size: 16px;
}

p.txt {
  margin-left: 10px;
}

#secfoot {
  background-color: #fce2e2;
  padding: 25px;
}

#prevnex {
  border-style: hidden;
}

#prev {
  float: left;
  display: grid;
  margin-top: -8px;
}

.next {
  float: right;
  display: grid;
}

.prev {
  margin-right: 18px;
}